<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd11cc.single.mapper.SystemMenuMapper">

    <select id="selectTreeMenu" resultType="com.xd11cc.single.entity.domain.SystemMenuDO">
        select
            a.id, a.parent_id, a.menu_name, a.sort, a.path, a.component, a.route_name
            a.menu_type, a.visible, a.icon
        from
            system_menu a
        left join
            system_role_menu b on a.id = b.menu_id
        left join
            system_role c on b.role_id = c.id
        left join
            system_user_role d on c.id = d.role_id
        where
            d.user_id = #{userId} and a.status = 0 and a.menu_type in ('C', 'M')
    </select>
</mapper>